<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    
    <header id="cabecera">
        <h1>TIBURONES</h1>
      </header>
      
       <main>
      
          <img src="../img/shark-2683184_1920.jpg" alt="">
      
         <h2>ORDENES</h2>
          <div id="listCont">
               <nav>
                 <ul>
                   <li><a class="ordenes" href="./ordencarchar.html">CARCHARHINIFORMES</a></li> 
                   <li><a class="ordenes" href="./ordenhetero.html">HETERODONTIFORMES</a></li>
                   <li><a class="ordenes" href="./ordenhexan.html">HEXANQUIFORMES</a></li>
                   <li><a class="ordenes" href="./ordenlamni.html">LAMNIFORMES</a></li> 
                   <li><a class="ordenes" href="./ordenorecto.html">ORECTOLOBIFORMES</a></li>
                   <li><a class="ordenes" href="./ordenpristiophoriformes.html">PRISTIOPHORIFORMES</a></li>
                   <li><a class="ordenes" href="./ordensquatiniformes.html">SQUATINIFORMES</a></li>
                   <li><a class="ordenes" href="./instrucciones.html">INSTRUCCIONES</a></li>
                 </ul>
               </nav>
           </div>
      
         </main>
      
      






</body>
</html>