<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>INSTRUCCIONES</h1>
    </header>
      <h2>AVISO</h2>
      <h3>Esta página es la parte visual del proyecto backend con 
          mongoAtlas y node ,desarroyada con estilos nativos y sin el 
          backend para que pueda ser visualizada en ghpages el enlace al código backend esta aquí: 
      </h3>
       <a href="https://github.com/MakoArt/Escualos">BACKEND PROYECTO</a>
    <p>Bienvenido/a este recorrido por las ordenes que engloban la gran familia de 
        los escualos.Tienes las principales especies de cada orden , una imagen , y una pequeña
        descripción a nivel informativo para que puedas hacerte una idea de sus rasgos más principales 
        y lo que más los carácteriza.Las fuentes han sido redactadas por mí , parte de la información es de conocimientos propios y algunas partes resumenes de la wikipedia. Las fotografías son 
        extraidas de pixabay , libres de derechos de autor para cualquier uso y sin necesidad de atribución.Otras son con licencia CC ,
        con atribución por lo que podrás ver unos enlaces encima de la foto , donde dice el tipo de licencia,el autor ,así como el enlace a la página. Todas las fotografías son libres para usarlas pero las que estan marcadas
        si estas interesado/a en usarlas debes atribuir el mérito a sus autores , simplemente pinchando en cada botón accedes a la información. Es una buena guia para empezar luego a seguir investigando 
        cada especie, por  tu propia cuenta. Un saludo y que espero que sea de tu agrado esta guía.
    </p>
    
    <h2>TECNOLOGÍAS</h2>
    
    <ul>
        <li><span>Base de datos:</span>MongoDB Atlas</li>
        <li><span>Backend:</span>Nodejs,express,mongoose</li>
        <li><span>Lenguaje:</span>Javascript</li>
        <li><span>Estilos:</span>Css3</li>
        <li><span>Motor de plantillas:</span>Ejs</li>
        <li><span>Autor:</span>Manuel Gómez</li>
        <li><span>Fuentes Fotográficas:</span>Foter.com,Pixabay,Wikipedia.</li>
        <li><span><a target="_blank" href="https://github.com/MakoArt">GITHUB</a></span></li>    
        <li><span><a target="_blank" href="https://www.youtube.com/channel/UCCA_rKWJ2cVv00ygWD6rG4g?view_as=subscriber">YOU TUBE</a></span></li>  
        <li><span><a target="_blank" href="https://app.netlify.com/teams/ninjavascript/overview">NETLIFY</a></span></li> 
         <li><span><a  href="../index.html">VOLVER</a></span></li>
    
    </ul>
    
    
    
    
    
    
    
</body>
</html>