<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    
    <a class="volver" href="./index.html">VOLVER</a> 

<h1>ORDEN</h1>
<h3>HEXANQUIFORMES</h3>




    <h1>tiburón anguila</h1>
    <h2>chlamydoselachus anguineus</h2>
   <h4>Derechos de atribución de fotografías</h4>
    <h4>author-page-licence</h4>
    <a href="https://commons.wikimedia.org/wiki/User:Citron">Citron</a> 
    <a href="https://es.wikipedia.org/wiki/Chlamydoselachus_anguineus">Wikipedia</a>  
    <a href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>
     <img src="../img/hexanquiformes/anguila.jpg" alt="">
    <p>
        <h3>Un auténtico fosil viviente. Puede habitar en un rango de entre 50 m y mas de 1500m .Puede llegar a medir unos cuatro metros.Se alimenta de cefalópodos y otras especies de tiburones laUICN lo considera especie amenazada .Aunque por las profundidades en las que hábita y lo extraño de sus hábitos no se puede asegurar con toda certeza.</h3>
    </p>
    
    
    
     <h1>tiburón vaca</h1>
  <h2>Notorynchus cepedianus</h2>
   
    <h4>Derechos de atribución de fotografías</h4>
    <h4>author-page-licence</h4>
    <a href="https://www.flickr.com/people/61815799@N00">José María Pérez Nuñez</a> 
    <a href="https://es.wikipedia.org/wiki/Notorynchus_cepedianus#/media/Archivo:Notorynchus_cepedianus_2.jpg">Wikipedia</a>  
    <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC BY-SA 2.0</a>
    <img src="../img/hexanquiformes/vaca.jpg" alt="">
    <p>Es uno de los dos únicos tiburones que se caracterizan por tener siete branquias. Llega a medir 3 metros de largo .Caza tiburones, rayas,peces y focas.</p>
    
    
    
    <h1>tiburón cañabota</h1>
    <h4>hexanchus griseus</h4>
    <h4>author-page-licence</h4>
    <a href="">Harbor Branch Oceanographic Institution </a> 
    <a href="https://es.wikipedia.org/wiki/Hexanchus_griseus#/media/Archivo:Hexanchus_griseus.jpg">Wikipedia</a>  
    <a href="https://creativecommons.org/licenses/by-sa/2.0/">Public Domain</a>
    <img src="../img/hexanquiformes/cañabota.jpg" alt="">
    <p><h3>La cañabota gris llega a medir 4.8m de longitud y pesar mas de 1000kg.El mayor ejemplar fué capturado en las costas de Alicante(España).Con sus seis aperturas branquiales, nos dice que es un escualo muy primitivo como el resto de su misma orden dentro de los hexanquiformes.Los escualos más evolucionados poseen solo 5 hendiduras branquiales.</h3></p>


<a class="volver" href="./index.html">VOLVER</a> 






</body>
</html>