<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <a class="volver" href="./index.html">VOLVER</a> 

    <h1>ORDEN</h1>
    <h3>PRISTIOPHORIFORMES</h3>
    
    
 
    
    <h1>tiburón sierra</h1>
    <h2>pliotrema warreni</h2>
    <img src="../img/pristiophoriformes/sierra.jpg" alt=""/>
    <p><h3>Vive en profundidades de entre de hasta 300 metros. Su habitat es el oceano índico , vive alrededor de australia.Su carne es muy apreciada.No se encuentra en estado de extención , su población es estable y no corre peligro.</h3></p>
    
 
    
    <a class="volver" href="./index.html">VOLVER</a> 

    
</body>
</html>