<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>

    <a class="volver" href="../index.html">VOLVER</a> 

<h1>ORDEN</h1>
<h3>ORECTOLOBIFORMES</h3>




    <h1>tiburón alfombra</h1>
    <h2>eucrossorhinus dasypogon</h2>
    <h4>Derechos de atribución de fotografías</h4>
    <h4>author-page-licence</h4>
    <a href="https://commons.wikimedia.org/wiki/File:Spotted_wobbegong.jpg">Wikimedia Commons</a> 
    <a href="https://es.wikipedia.org/wiki/Orectolobus_maculatus#/media/Archivo:Spotted_wobbegong.jpg">Wikipedia</a>  
    <a href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>
    <img src="../img/orectolobiformes/alfombra.jpg" alt="">
    <p>Habita en el fondo , Australia, oceanos Índico y Pacífico. Su nombre proviene de su gran parecido a una alfombra además de estar siempre apostado en el fondo.Su alimentación se basa en crustaceos y pequeños peces que atrapa por el fondo.</p>
    
    
    <h1>tiburón nodriza</h1>
    <h2>ginglymostoma cirratum</h2>
    <h4>Derechos de atribución de fotografías</h4>
    <h4>author-page-licence</h4>
    <a href="5fafbe0977e622fa77bcb038">Gary Rinaldi</a> 
    <a href="https://es.wikipedia.org/wiki/Ginglymostoma_cirratum#/media/Archivo:Ginglymostoma_">Wikipedia</a>  
    <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC BY-SA 2.0</a>
     <img src="../img/orectolobiformes/nodriza.jpg" alt=""/>
     <p><h3>Hábita en los fondos marinos y suele medir hasta 4 metros .Puede llegar a encontrarse en mares tropicales. Se les conoce como peces gato.Su hábitat engloba desde aguas poco profundas , hasta los 2000 metros .Se alimentan de invertebrados y peces pequeños .</h3></p><h1>tiburón nodriza</h1>
   
   
   
   
     <h1>tiburón ballena</h1>
     <h2>rhincodon typus</h2>
    <h4>Derechos de atribución de fotografías</h4>
    <h4>author-page-licence</h4>
    <img src="../img/orectolobiformes/ballena.jpg" alt=""/>
     <p><h3>Ostenta el título de ser el pez más grande del mundo .con aproximadamente 12 metros de longitud.Se alimenta principalmente de fitoplactón y kril. También bancos de peces pequeños como son las sardinas, caballas, larvas etc. Hábita en los oceanos cálidos. Y es muy amigable con los humanos.</h3></p>



<a class="volver" href="../index.html">VOLVER</a> 
    
</body>
</html>