<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>

    <a class="volver" href="/index.html">VOLVER</a> 

<h1>ORDEN</h1>
<h3>HETERODONTIFORMES</h3>




<h1>suño cornudo </h1>
<h2>heterodontus francisci</h2>
<a href="https://www.flickr.com/people/26216388@N02">Ed Bierman</a>
<a href="https://es.wikipedia.org/wiki/Heterodontus_francisci">Wikipedia</a>
<a href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a>
<img src="../img/heterodontiformes/suño.jpg" alt="suño cornudo"/>
<p><h3>California,México,Ecuador y Perú .De hábitos nocturnos. Puede llegar a moder .Se alimenta de crustaceos principalmente.</h3></p>


<a class="volver" href="/index.html">VOLVER</a> 

    
</body>
</html>