<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <a class="volver" href="../index.html">VOLVER</a> 

<




    <h1>ORDEN</h1>
     <h1>tiburón angelote</h1>
    <h2>squatina dumerii</h2>

    <h4>Derechos de atribución de fotografías</h4>
     <h4>author-page-licence</h4>
    <a href="https://www.flickr.com/people/37071060@N06">Philippe Guillaume</a> 
    <a href="https://es.wikipedia.org/wiki/Squatina_squatina">Wikipedia</a>
    <a href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a>
    <img src="../img/squatiniformes/angelote.jpg" alt=""/>
     <p><h3>Tiburón Angel también conocido. Puede alcanzar los 2,4 m .Caza semienterrado esperando su oportunidad para emboscar a algún pez o crustaceo despistado.No es peligroso pero puede morder si se le molesta .Hay histórias que cuentan que ha llegado a seguir a buceadores con la boca abierta . Y un zoólogo de 1776 un pescador perdió una pierna cuando lo sacaba de sus redes. Parecen histórias fuera de lugar pero escritas están,aunque personalmente ,no me las creo.</h3></p>



<a class="volver" href="../index.html">VOLVER</a> 

</body>
</html>